html {
  scroll-behavior: smooth;
}
body{
  margin: 0px;
  padding:0px;
  border:0px;
}

/* FONT */

h1{
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 64px;
  color: black;
}
h1 span{
  font-family: 'Times New Roman';
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 64px;
  color: #FFFFFF;
}

h2{
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 42px;
  color: black;
  margin-left:20px;
}

h2 span{
  font-family: 'Times New Roman';
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 64px;
  color: #4448DB;
}

h3{
  font-family: 'Roboto' sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color:black;
  
}
h3 span{
  
  color:rgb(17, 135, 182);
}

h4{
  font-family: 'Roboto',sans-serif;
  font-weight: bold;
  font-size: 26px;
  color: rgb(102, 102, 102);
}

h5{
  font-family: 'Roboto' sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 50px;
  color: black;
}


h6{
  font-family: 'Roboto' sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;

  color: black;
}

p{
font-family: 'Roboto' sans-serif;
font-style: normal;
font-weight: normal;
font-size: 16px;
letter-spacing: 0.02em;
color: black;
}
p span{
  font-weight: bold;
}

/* HEAD */
.header{
  position: fixed;
  width: 100%;
  z-index: 10;
}
.navbar-head{
  background-color:white;

  
}
.navbar-nav  .nav-item {
  padding:12px 12px 12px 12px;
 
}
.navbar-nav  .nav-item .link{
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 28px;
  text-align: right;
  color: black;
}
/* HEADER  */
.navbar{
  background: #464BDE;
  backdrop-filter: blur(5px);

}
.navbar-brand{
  margin-left: 140px;
}
.navbar-nav{
  margin-right:140px;
}
.navbar-nav .nav-item .nav-link{
  color:white;
  font-family: 'Roboto', sans-serif;
  font-size:20px;
  line-height: 28px;
  margin-left: 90px;

}
.aktif{
  font-weight: bold;
}

/* CONTENT */
h1{
  margin-top:180px;
}